/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* === Importação das Fontes === */
@font-face {
  font-family: 'Futura';
  src: url('./assets/Fontes/FuturaStd-Bold.woff') format('opentype');
  font-weight: 700;
  /* Negrito */
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./assets/Fontes/NunitoSans-Bold.woff') format('truetype');
  font-weight: 700;
  /* Negrito */
  font-style: normal;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  --hue2: 189;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 50% 60%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* New HSL color mode */
  --newbase-Blue: #1f5d90;
  --newbase-blue: #069bc5;
  --newbase-pink: #c3446b;
  --newbase-orange: #ff8400;
  --newbase-yellow: #edc032;

  --newbase-Blue-second: #6d9cbc;
  --newbase-blue-second: #79e0f7;
  --newbase-pink-second: #f489af;
  --newbase-orange-second: #f7c28d;
  --newbase-yellow-second: #f9df95;


  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

  --main-font: 'Futura', sans-serif;
  --support-font: 'Nunito Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--newbase-blue);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--newbase-yellow);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg,
      hsla(var(--hue2), 36%, 57%, 1),
      hsla(var(--hue2), 90%, 88%, 0.34));
}

.divider-2 {
  height: 1px;
  background: linear-gradient(270deg,
      hsla(var(--hue2), 90%, 88%, 0.34),
      hsla(var(--hue2), 36%, 57%, 1));
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* Cor de fundo do preloader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Loader Animation */
.loader {
  border: 5px solid #f3f3f3;
  /* Cor do anel externo */
  border-top: 5px solid #3498db;
  /* Cor do anel animado */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--newbase-blue);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--newbase-Blue);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--newbase-blue);
}

.logo-alt span {
  color: var(--body-color);
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav .title {
  font-family: var(--main-font);
  color: #e4e4e4;
  font-weight: bold;
}

nav img {
  height: 50px;
  /* Define a altura da logo */
  width: auto;
  /* Mantém a proporção da logo */
}


nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--newbase-yellow);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--newbase-yellow);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  transform: rotateY(0);
  visibility: visible;

  background: var(--newbase-Blue);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--body-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease;
}

/* Transformação ao clicar no ícone de hambúrguer */
.icon-menu:active {
  transform: scale(1.2) rotate(45deg);
  opacity: 0.7;
  color: var(--newbase-yellow);
  transition: transform 0.2s ease-in-out, color 0.2s ease;
}

.toggle:hover {
  color: var(--newbase-yellow);
}

nav .icon-close {
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  cursor: pointer;
  transform: rotate(15deg) scale(1.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
  transform: rotate(-360deg) scale(1.2);
  /* Efeito de rotação no 'X' */
  color: var(--newbase-yellow);
  /* Cor alterada ao exibir */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* ===== CAROUSEL SECTION ===== */
.carousel {
  width: 90%;
  margin: 4em auto;
  /*height:300px;/*ajustar altura do carrossel e a sombra*/
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);

}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  /*height:300px;/*ajustar altura da caixa*/
}

.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--text-color-light);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 10px;
  max-width: 90%;
}

.carousel-caption h2 {
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carousel-caption p {
  font-family: var(--support-font);
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.carousel-caption .button {
  font-family: var(--support-font);
  background-color: var(--newbase-blue);
  color: var(--text-color-light);
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.carousel-caption .button:hover {
  background-color: var(--newbase-yellow);
  color: var(--text-color-light);
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-out;
  transition: opacity 0.7s ease-out;
}

.carousel-item img {
  display: block;
  /*height:auto;/*ajustar altura da imagem interna*/
  max-width: 100%;
}

.carousel-control {
  background: rgba(255, 255, 255, 0.328);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;


}

.carousel-control.prev {
  left: 2%;
  user-select: none;
}

.carousel-control.next {
  right: 2%;
  user-select: none;
}

.carousel-control:hover {
  background: var(--newbase-yellow);
  color: white;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3,
#carousel-4:checked~.control-4 {
  display: block;
}

/* ===== Correções para o alinhamento dos bullets ===== */
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: var(--newbase-blue);
  cursor: pointer;
  display: block;
  font-size: 2rem;
  padding: 0 10px;
}

.carousel-bullet:hover {
  color: var(--newbase-pink);
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked~.control-4~.carousel-indicators li:nth-child(4) .carousel-bullet {
  color: var(--newbase-yellow);
}

/*====  HOME ============================ */
/* === Seção Home - Revisão e Melhorias === */
#home {
  padding: 7rem 0;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Colunas para texto e imagem */
  align-items: center;
  /* Centraliza o conteúdo verticalmente */
  gap: 3rem;
}

#home .image {
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

#home img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  /* Garante que a imagem se ajuste ao espaço */
}

#home h1 {
  color: #000;
  font-family: var(--main-font);
}

#home p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--support-font);
}

#home .text {
  max-width: 600px;
  text-align: center;
}

#home .text-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: var(--text-color-light);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

/* Correção do botão da section Home */
#home .button-primary {
  font-family: var(--support-font);
  display: flow-root;
  background-color: var(--newbase-blue);
  color: var(--text-color-light);
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

#home .button-primary:hover {
  background-color: var(--newbase-yellow);
}


/*====  ABOUT ============================ */
#about {
  background: white;
}

#about .container {
  margin: 0;
  display: grid;
  gap: 2rem;
  /* Espaçamento entre os elementos */
  align-items: center;
  /* Alinha o texto e a imagem verticalmente */
  padding: 2rem;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--newbase-yellow);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
  width: 100%;
  height: auto;
  /* Mantém a proporção da imagem */
  object-fit: cover;
  /* Ajusta o conteúdo ao contêiner */
  border-radius: 0.5rem;
  /* Cantos arredondados */
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}
#about h2{
  font-family: var(--main-font);
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*====  SERVICES ============================ */
.cards.grid {
  gap: 1.5rem;
}

.cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Cada card ocupa um espaço flexível */
}

.card {
  position: relative;
  padding: 1.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: var(--body-color);
  text-align: center;
  color: var(--text-color);
  /* Cor padrão do texto */
  transition: background-color 0.3s ease, color 0.3s ease;
}

#card p span {
  color: var(--text-color-light);
}

/* Estilo do card ativo */
.card.active {
  background-color: var(--newbase-pink-second);
  color: var(--text-color-light);
}

/* Ocultar texto adicional por padrão */
.card .more-info {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card .more-info .info-black {
  color: #000;
}

.card .title {
  font-size: 1.5rem;
  /* Tamanho padrão */
}

.card h2.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Exibir texto adicional no card ativo */
.card.active .more-info {
  display: block;
  opacity: 1;
  font-size: 4rem;
}

.card.active p {
  display: block;
  opacity: 1;
  font-size: 2rem;
}

p:not(.more-info) {
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;
}

.card .button {
  margin-top: 1rem;
}

.card img {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
  position: relative;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
}

.card .title {
  margin-bottom: 0.75rem;
  font-size: clamp(1.875rem, 2.5vw, 1.5rem);
  /* Responsivo com tamanho mínimo de 1rem e máximo de 1.5rem */
  /* Evita quebra de linha */
  overflow: hidden;
  /* Impede o transbordamento */
  text-overflow: ellipsis;
  /* Adiciona "..." se o texto for muito longo */
}

/* ==== Correções para a section services ==== */
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services h2.title {
  font-family: var(--main-font);
}

#services p {
  font-family: var(--support-font);
}

#services header {
  text-align: center;
  max-width: 1200px;
  /* Define a largura máxima para o conteúdo */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#services .container {
  max-width: 1200px;
  /* Define a largura máxima para os cards */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

#services .card {
  width: 100%;
  /* Garante que o card ocupe toda a largura disponível */
  max-width: 100%;
  /* Impede que o card ultrapasse o limite da grade */
}

/* Efeito de fundo esmaecido quando o modal está ativo */
body.modal-active {
  overflow: hidden;
  /* Evita a rolagem da página */
}

body.modal-active::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  /* Colocar abaixo do modal */
}

/* Modal services */
.service-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.service-modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-modal-text {
  font-size: 1.2rem;
  /* Aumentar o tamanho do texto */
  color: #333;
  /* Cor padrão */
  line-height: 1.8;
  text-align: left;
  padding: 20px 0;
}


/* === GALERIA SECTION - INÍCIO === */
#gallery {
  background-color: var(--body-color);
  padding: 4rem 0;
}

#gallery .container {
  max-width: 1200px;
  margin: 0 auto;
}

#gallery header h2.title {
  font-family: var(--main-font);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#gallery header p {
  font-family: var(--support-font);
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

/* ==== Lightbox para Galeria ==== */
.gallery-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.gallery-modal.active {
  display: flex;
}

.gallery-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.gallery-modal .controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.gallery-modal .control {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: var(--text-color-light);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.gallery-modal .control:hover {
  background-color: var(--newbase-yellow);
}

.gallery-modal .control-prev {
  position: absolute;
  left: 20px;
}

.gallery-modal .control-next {
  position: absolute;
  right: 20px;
}

/*==== LOCATION ============================ */
#location {
  background-color: var(--body-color);
  padding: 4rem 0;
}

#location .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  align-items: center;
}

#location .text {
  text-align: center;
}

#location .title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

#location p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  color: var(--text-color);
  line-height: 1.5;
}

#location .button-primary {
  display: inline-block;
  background-color: var(--newbase-blue);
  color: var(--text-color-light);
  padding: 1rem 2rem;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

#location .button-primary:hover {
  background-color: var(--newbase-yellow);
  transform: translateY(-5px);
}

#location .map iframe {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 350px;
}

/*====  TEAM SECTION ============================ */
#team {
  background-color: var(--body-color);
}

.team-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.team-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.team-card img.profile-photo {
  width: clamp(100px, 20vw, 150px);
  /* Responsivo com largura mínima de 100px e máxima de 150px */
  height: clamp(100px, 20vw, 150px);
  /* Mantém a imagem perfeitamente quadrada */
  border-radius: 50%;
  /* Torna a imagem circular */
  outline: 3px solid var(--newbase-Blue);
  /* Contorno externo adicional */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  /* Sombra suave */
  object-fit: cover;
  /* Garante que a imagem fique bem ajustada ao círculo */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.team-card img.profile-photo:hover {
  transform: scale(1.2) translateY(-8px);
  /* Aumenta ligeiramente a imagem no hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  /* Sombra mais intensa no hover */
  outline-color: var(--newbase-yellow);
  /* Muda a cor do contorno principal */
}
#team h2.title {
  font-family: var(--main-font);
}

.team-card h3 {
  font-family: var(--main-font);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-card {
  font-size: 1.6rem;
}

#team .team-card p {
  font-family: var(--support-font);
  margin-bottom: 0.5rem;
}

.team-card span {
  font-family: var(--support-font);
  color: var(--newbase-blue);
}

.team-card .social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.team-card .social-links a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--newbase-Blue-second);
  border-radius: 50%;
  color: var(--text-color-light);
  transition: all 0.3s;
}

.team-card .social-links a:hover {
  color: var(--body-color);
}

.team-card .button {
  margin-top: 1rem;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 10% auto;
  text-align: center;
  position: relative;
}

.modal-photo {
  width: clamp(100px, 20vw, 150px);
  /* Responsivo com largura mínima de 100px e máxima de 150px */
  height: clamp(100px, 20vw, 150px);
  /* Mantém a imagem perfeitamente quadrada */
  border-radius: 50%;
  /* Torna a imagem circular */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  /* Sombra suave */
  object-fit: cover;
  /* Garante que a imagem fique bem ajustada ao círculo */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-modal {
  margin-top: 1rem;
}

/* Estilo personalizado para o texto do modal */
.modal-content p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  line-height: 1.6;
  text-align: left;
}

.modal-content ul {
  padding-left: 20px;
  margin-bottom: 1rem;
}

.modal-content ul li {
  list-style-type: disc;
  margin-bottom: 0.5rem;
}

.modal-content strong {
  color: var(--newbase-blue);
}

/* Estilo personalizado para o conteúdo de detalhes no modal */
.modal-content {
  max-width: 90%;
  /* Reduz a largura máxima do modal para telas pequenas */
  width: 100%;
  height: auto;
  max-height: 90vh;
  /* Para evitar o overflow do modal na tela */
  overflow-y: auto;
  /* Adiciona o scroll interno se o conteúdo for muito grande */
}

.modal-content p,
.modal-content ul,
.modal-content li {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  line-height: 1.6;
  text-align: left;
}

.modal-content ul {
  padding-left: 20px;
}

.modal-content ul li {
  list-style-type: disc;
  margin-bottom: 0.5rem;
}

.modal-content strong {
  color: var(--newbase-blue);
}

.modal-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.modal-content h3#modal-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-content .close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/*==== CONTACT ============================ */
#contact {
  background-color: var(--body-color);
  padding: 4rem 0;
  position: relative;
  /* Necessário para que os grafismos se posicionem em relação a essa seção */
  overflow: hidden;
  /* Garante que nada "vaze" para fora da seção */
}

#contact .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  align-items: center;
}

#contact .text {
  text-align: center;
}

#contact .title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--newbase-Blue);
}

#contact p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  color: var(--text-color);
  line-height: 1.5;
}

#contact .button {
  background-color: var(--newbase-blue);
  color: var(--text-color-light);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  text-align: center;
}

#contact .button i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

#contact .button:hover {
  background-color: var(--newbase-yellow);
}

#contact .form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

#contact .form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--title-color);
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact .form-group {
  margin-bottom: 1rem;
}

#contact .form-group input,
#contact .form-group textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--newbase-blue);
  border-radius: 0.5rem;
  color: var(--text-color);
  background-color: var(--body-color);
}

#contact .form-group input::placeholder,
#contact .form-group textarea::placeholder {
  color: var(--text-color);
}

#contact .form-group input:focus,
#contact .form-group textarea:focus {
  border-color: var(--newbase-yellow);
  outline: none;
}

#contact .button {
  background-color: var(--newbase-blue);
  color: var(--text-color-light);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

#contact .button:hover {
  background-color: var(--newbase-yellow);
}

/*====  FOOTER ============================ */
footer.footer-modern {
  background: var(--newbase-Blue);
  color: var(--text-color-light);
  padding: 2rem 1rem;
}

footer.footer-modern .container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

footer.footer-modern .footer-brand {
  text-align: center;
}

footer.footer-modern .footer-brand img {
  max-width: 120px;
  margin: 0 auto 1rem;
}

footer.footer-modern .footer-column {
  text-align: center;
}

footer.footer-modern .footer-column h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

footer.footer-modern .footer-column ul {
  list-style: none;
  padding: 0;
}

footer.footer-modern .footer-column ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.footer-modern .footer-column ul li i {
  margin-right: 0.5rem;
}

footer.footer-modern .social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer.footer-modern .social-links a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--newbase-Blue-second);
  border-radius: 50%;
  color: var(--text-color-light);
  transition: all 0.3s;
}

footer.footer-modern .social-links a:hover {
  background: var(--newbase-pink);
  transform: translateY(-5px);
}

footer {
  background: var(--newbase-Blue);
  color: var(--text-color-light);
  padding: 3rem 1rem;
  text-align: center;
}


footer img {
  max-width: 100%;
  /* Limita a largura da imagem ao tamanho do container */
  height: auto;
  /* Mantém a proporção da imagem */
  display: block;
  /* Evita espaçamentos adicionais ao redor da imagem */
  margin: 0 auto;
  /* Centraliza a imagem */
}

footer .brand img {
  max-width: 120px;
  /* Define o tamanho máximo da imagem */
  width: 100%;
  /* Torna a largura responsiva */
  height: auto;
  /* Mantém a proporção da imagem */
  margin: 0 auto 1rem;
  /* Centraliza a imagem */
}

.footer-column h3 {
  font: 700 1.5rem var(--title-font);
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-brand {
  text-align: center;
}

footer .brand {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  /* Adiciona espaçamento interno */
}

footer .brand p {
  color: var(--text-color-light);
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.footer-column ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.footer-column ul li i {
  margin-right: 0.5rem;
  color: var(--newbase-Blue-second);
}

.footer-column ul li a {
  color: var(--text-color-light);
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: var(--newbase-yellow);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--newbase-Blue-second);
  color: var(--text-color-light);
  transition: background 0.3s, transform 0.3s;
}

.social-links a:hover {
  transform: translateY(-8px);
  background: var(--newbase-pink);
}

footer .social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  grid-auto-flow: column;
  width: fit-content;
}


footer .social a {
  color: var(--text-color-light);
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--newbase-Blue-second);
  transition: background-color 0.3s, transform 0.3s;
}

footer .social a:hover {
  transform: translateY(-8px);
  color: var(--newbase-yellow);
}

/* Back to top */
.back-to-top {
  background: var(--newbase-Blue);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top:hover {
  background: var(--newbase-yellow);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*========= MEDIA QUERIES =========*/

/* extra large devices: 1200 > */
@media (min-width: 1200px) {

  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--support-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font: var(--support-font);
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* Responsividade da Galeria */
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* large devices: 1023 > */
/* Para dispositivos com largura mínima de 1023px */
@media (min-width: 1023px) {
  :root {
    --title-font-size: 2.5rem;
    --subtitle-font-size: 1.25rem;
  }

  .card .title {
    font-size: 2rem;
    /* Ajuste para telas médias */
    margin-bottom: 1rem;
    text-align: center;
  }

  #home .main-title {
    font-size: 3rem;
    color: #000;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
/* large devices: 992 > */
/* Para dispositivos com largura mínima de 992px */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}

/* medium devices: 767 > */
/* Para dispositivos com largura mínima de 767px */
@media (min-width: 767px) {
  :root {
    --title-font-size: 1.75rem;
    --subtitle-font-size: 1.125rem;
  }

  .card .title {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    /* Ajuste para telas pequenas */
  }

  /* Ajustes Services mobile*/
  #services h3.title {
    font-size: 1.3rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }

  #team h2.title {
    text-align: center;
  }

  #team p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }

  #home .main-title {
    font-size: 2rem;
    text-align: center;
    color: #000;
  }

  #home .description {
    font-size: 1.125rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  footer .container {
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    gap: 1.5rem;
  }

  .footer-column {
    text-align: left;
  }

  .social-links {
    justify-content: flex-start;
  }

  footer .brand img {
    max-width: 100px;
    /* Reduz o tamanho da imagem para telas menores */
  }

  footer .brand {
    margin-bottom: 1rem;
  }

  footer .brand p {
    margin-bottom: 0.5rem;
  }

  footer .social {
    justify-content: center;
    flex-wrap: wrap;
    grid-auto-flow: row;
    gap: 1rem;
  }

  footer .social a {
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  #home .description {
    font-size: 1rem;
    text-align: center;
  }

  /* Section Services */
  #services .container.grid.cards {
    grid-template-columns: 1fr;
    /* Empilha os cards verticalmente */
  }

  #services .card {
    width: 100%;
    /* O card ocupa 100% da largura do container */
  }

  /* Section Team */
  #team .team-container {
    grid-template-columns: 1fr;
    /* Empilha os cards verticalmente */
  }

  #team .team-card {
    width: 100%;
    /* O card ocupa 100% da largura do container */
  }

  .carousel-caption {
    bottom: 5%;
    /* Ajuste a posição do texto para mais baixo em telas pequenas */
    padding: 1.5rem 1rem;
  }

  .carousel-caption h2 {
    font-size: 1.5rem;
    /* Tamanho menor para o título */
  }

  .carousel-caption p {
    font-size: 0.875rem;
    /* Tamanho menor para o parágrafo */
  }

  .carousel-caption .button {
    padding: 0.75rem 1.5rem;
    /* Menor espaçamento no botão */
    font-size: 0.875rem;
  }

  .carousel-indicators {
    bottom: 1rem;
    /* Posiciona os bullets mais próximos do rodapé */
  }

  .carousel-bullet {
    font-size: 1.5rem;
    /* Tamanho menor para os bullets */
    padding: 0 5px;
    /* Reduz o espaçamento horizontal */
  }

  /* Ajustes Services mobile*/
  #services h3.title {
    font-size: 1.5rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }

  /* Modal Team*/
  .modal-content {
    max-width: 95%;
    /* Para telas pequenas, a largura será menor */
    max-height: 80vh;
    /* Garante que o conteúdo não estoure a tela */
  }

  .modal-content p,
  .modal-content ul,
  .modal-content li {
    font-size: 0.9rem;
    /* Reduz o tamanho do texto para telas menores */
    line-height: 1.4;
  }

  .modal-photo {
    width: 80px;
    height: 80px;
  }

  .modal-content h3#modal-name {
    font-size: 1.25rem;
  }

  /* Responsividade da Galeria */
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

#home .button-primary {
  display: flow-root;
  background-color: var(--newbase-blue);
  color: var(--text-color-light);
  padding: 1rem 2rem;
  inline-size: auto;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  text-align: center;
}

#home .button-primary:hover {
  background-color: var(--newbase-yellow);
  color: var(--text-color-light);
}

@media (max-width: 767px) {
  #home .container {
    grid-template-columns: 1fr;
    /* Empilha o texto e a imagem */
    text-align: center;
  }

  #home .description {
    font-size: 1rem;
    text-align: center;
  }
  #home .main-title{
    color: #000;
    font-family: var(--main-font);
  }

  #home .button-primary {
    width: 100%;
    /* O botão ocupa a largura total em telas pequenas */
    text-align: center;
  }

  .carousel-caption {
    bottom: 5%;
    /* Ajuste a posição do texto para mais baixo em telas pequenas */
    padding: 1.5rem 1rem;
  }

  .carousel-caption h2 {
    font-size: 1.5rem;
    /* Tamanho menor para o título */
  }

  .carousel-caption p {
    font-size: 0.875rem;
    /* Tamanho menor para o parágrafo */
  }

  .carousel-caption .button {
    padding: 0.75rem 1.5rem;
    /* Menor espaçamento no botão */
    font-size: 0.875rem;
  }

  .carousel-indicators {
    bottom: 1rem;
    /* Posiciona os bullets mais próximos do rodapé */
  }

  .carousel-bullet {
    font-size: 1.5rem;
    /* Tamanho menor para os bullets */
    padding: 0 5px;
    /* Reduz o espaçamento horizontal */
  }

  nav a.title{
    font-family: var(--main-font);
    font-size: 1.5rem;
  }
  
  #location .container {
    grid-template-columns: 1fr;
    /* Empilha o texto e o mapa */
  }

  #location .text {
    text-align: center;
  }

  #location .button-primary {
    width: 100%;
    /* O botão ocupa a largura total em telas pequenas */
  }

  /* Ajustes Services mobile*/
  #services h3.title {
    font-size: 1.5rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }

  #team h2.title {
    text-align: center;
  }

  #team p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }

  /* Responsividade da Galeria */
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===== Correções para o posicionamento do h2 e p na carousel-caption ===== */
@media (max-width: 568px) {
  .carousel-caption {
    bottom: 5%;
    /* Move a legenda mais para baixo em dispositivos menores */
    padding: 1.5rem 1rem;
    /* Reduz o espaçamento interno */
  }

  .carousel-caption h2 {
    font-size: 1.25rem;
    /* Reduz o tamanho do texto do título */
    margin-bottom: 0.5rem;
    /* Ajusta o espaçamento inferior */
  }

  .carousel-caption p {
    font-size: 0.875rem;
    /* Reduz o tamanho do texto do parágrafo */
    margin-bottom: 1rem;
    /* Ajusta o espaçamento inferior */
  }

  .carousel-caption .button {
    padding: 0.75rem 1.25rem;
    /* Reduz o espaçamento do botão */
    font-size: 0.875rem;
    /* Ajusta o tamanho do texto do botão */
  }

  .carousel-bullet {
    display: none;
  }

  nav a.title{
    font-family: var(--main-font);
    font-size: 1.5rem;
  }

  /* Ajustes Services mobile*/
  #services h3.title {
    font-size: 1.5rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }
}

/* ===== Correções para o posicionamento do h2 e p na carousel-caption para telas menores que 486px ===== */
@media (max-width: 486px) {
  .carousel-caption {
    bottom: 3%;
    /* Move a legenda mais para baixo */
    padding: 1.25rem 0.75rem;
    /* Reduz ainda mais o espaçamento interno */
  }

  .carousel-caption h2 {
    font-size: 1rem;
    /* Diminui o tamanho do título para telas ainda menores */
    margin-bottom: 0.5rem;
    /* Ajusta o espaçamento inferior */
    line-height: 1.25;
    /* Reduz o espaçamento das linhas */
  }

  .carousel-caption p {
    font-size: 0.7rem;
    /* Reduz o tamanho da fonte do parágrafo */
    margin-bottom: 0.4rem;
    /* Ajusta o espaço inferior */
    line-height: 1.3;
    /* Melhora a legibilidade */
  }

  .carousel-caption .button {
    height: 2.4rem;
    margin-bottom: 0.01rem;
    padding: 0.5rem 1rem;
    /* Diminui o espaçamento do botão */
    font-size: 0.75rem;
    /* Reduz o tamanho do texto do botão */
    border-radius: 0.25rem;
    /* Mantém o botão compacto */
  }

  .carousel-bullet {
    display: none;
  }

  /* Ajustes Services mobile*/
  #services h3.title {
    font-size: 1.2rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 480px) {

  .carousel-caption {
    bottom: 5%;
    /* Move a legenda mais para baixo */
    padding: 1.25rem 0.75rem;
    /* Reduz ainda mais o espaçamento interno */
  }

  .carousel-caption h2 {
    font-size: 1rem;
    /* Diminui o tamanho do título para telas ainda menores */
    margin-bottom: 0.5rem;
    /* Ajusta o espaçamento inferior */
    line-height: 1.25;
    /* Reduz o espaçamento das linhas */
  }

  .carousel-caption p {
    font-size: 0.7rem;
    /* Reduz o tamanho da fonte do parágrafo */
    margin-bottom: 0.4rem;
    /* Ajusta o espaço inferior */
    line-height: 1.3;
    /* Melhora a legibilidade */
  }

  .carousel-caption .button {
    height: 2.4rem;
    margin-bottom: 0.01rem;
    padding: 0.5rem 1rem;
    /* Diminui o espaçamento do botão */
    font-size: 0.75rem;
    /* Reduz o tamanho do texto do botão */
    border-radius: 0.25rem;
    /* Mantém o botão compacto */
  }

  .carousel-bullet {
    display: none;
  }

  .card .title {
    font-size: clamp(0.75rem, 3vw, 1rem);
    /* Ajuste para telas muito pequenas */
  }

  nav a.title{
    font-family: var(--main-font);
    font-size: 1.5rem;
  }

  /* Ajustes Services mobile*/
  #services h3.title {
    font-size: 1.2rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }

  /* Ajustes team mobile*/
  #team h2.title {
    text-align: center;
  }

  #team p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
}

/* ===== Correções para o posicionamento do h2 e p na carousel-caption para iPhones de 12 a 16 ===== */
@media (max-width: 430px) {
  .carousel-caption {
    bottom: 5%;
    /* Move a legenda mais para baixo */
    padding: 1.25rem 0.75rem;
    /* Reduz ainda mais o espaçamento interno */
  }

  .carousel-caption h2 {
    font-size: 1rem;
    /* Diminui o tamanho do título para telas ainda menores */
    margin-bottom: 0.5rem;
    /* Ajusta o espaçamento inferior */
    line-height: 1.25;
    /* Reduz o espaçamento das linhas */
  }

  .carousel-caption p {
    font-size: 0.7rem;
    /* Reduz o tamanho da fonte do parágrafo */
    margin-bottom: 0.4rem;
    /* Ajusta o espaço inferior */
    line-height: 1.3;
    /* Melhora a legibilidade */
  }

  .carousel-caption .button {
    height: 2.4rem;
    margin-bottom: 0.01rem;
    padding: 0.5rem 1rem;
    /* Diminui o espaçamento do botão */
    font-size: 0.75rem;
    /* Reduz o tamanho do texto do botão */
    border-radius: 0.25rem;
    /* Mantém o botão compacto */
  }

  .carousel-bullet {
    display: none;
  }

  nav a.title{
    font-family: var(--main-font);
    font-size: 1.5rem;
  }

  /* Ajustes Services mobile*/
  #services h3.title {
    font-size: 1.2rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }
}

@media (max-width: 390px) {
  .carousel-caption {
    bottom: 5%;
    /* Move a legenda mais para baixo */
    padding: 1.25rem 0.75rem;
    /* Reduz ainda mais o espaçamento interno */
  }

  .carousel-caption h2 {
    font-size: 1rem;
    /* Diminui o tamanho do título para telas ainda menores */
    margin-bottom: 0.5rem;
    /* Ajusta o espaçamento inferior */
    line-height: 1.25;
    /* Reduz o espaçamento das linhas */
  }

  .carousel-caption p {
    font-size: 0.6rem;
    /* Reduz o tamanho da fonte do parágrafo */
    margin-bottom: 0.4rem;
    /* Ajusta o espaço inferior */
    line-height: 1.3;
    /* Melhora a legibilidade */
  }

  .carousel-caption .button {
    height: 2.4rem;
    margin-bottom: 0.01rem;
    padding: 0.5rem 1rem;
    /* Diminui o espaçamento do botão */
    font-size: 0.75rem;
    /* Reduz o tamanho do texto do botão */
    border-radius: 0.25rem;
    /* Mantém o botão compacto */
  }

  .carousel-bullet {
    display: none;
  }

  /* Ajustes Services mobile*/
  #services h3.title {
    font-size: 1.2rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }

  nav a.title{
    font-family: var(--main-font);
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .carousel-caption {
    bottom: 5%;
    /* Move a legenda mais para baixo */
    padding: 1.25rem 0.75rem;
    /* Reduz ainda mais o espaçamento interno */
  }

  .carousel-caption h2 {
    font-size: 0.8rem;
    /* Diminui o tamanho do título para telas ainda menores */
    margin-bottom: 0.5rem;
    /* Ajusta o espaçamento inferior */
    line-height: 1.25;
    /* Reduz o espaçamento das linhas */
  }

  .carousel-caption p {
    font-size: 0.6rem;
    /* Reduz o tamanho da fonte do parágrafo */
    margin-bottom: 0.4rem;
    /* Ajusta o espaço inferior */
    line-height: 1.3;
    /* Melhora a legibilidade */
  }

  .carousel-caption .button {
    height: 2.4rem;
    margin-bottom: 0.01rem;
    padding: 0.5rem 1rem;
    /* Diminui o espaçamento do botão */
    font-size: 0.75rem;
    /* Reduz o tamanho do texto do botão */
    border-radius: 0.25rem;
    /* Mantém o botão compacto */
  }

  .carousel-bullet {
    display: none;
  }

  /* Ajustes Services mobile*/

  #services h3.title {
    font-size: 1rem;
    text-align: center;
  }

  #services p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-align: center;
  }
}