/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  --hue2: 189;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 50% 60%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* New HSL color mode */
  --newbase-Blue: #1f5d90;
  --newbase-blue: #069bc5;
  --newbase-pink: #c3446b;
  --newbase-orange: #ff8400;
  --newbase-yellow: #edc032;

  --newbase-Blue-second: #6d9cbc;
  --newbase-blue-second:#79e0f7;
  --newbase-pink-second: #f489af;
  --newbase-orange-second:  #f7c28d;
  --newbase-yellow-second:#f9df95;


  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--newbase-blue);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--newbase-yellow);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue2), 36%, 57%, 1),
    hsla(var(--hue2), 90%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue2), 90%, 88%, 0.34),
    hsla(var(--hue2), 36%, 57%, 1)
  );
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Cor de fundo do preloader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Loader Animation */
.loader {
  border: 5px solid #f3f3f3; /* Cor do anel externo */
  border-top: 5px solid #3498db; /* Cor do anel animado */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--newbase-blue);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--newbase-Blue);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--newbase-blue);
}

.logo-alt span {
  color: var(--body-color);
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav .title{
  color: #e4e4e4;
  font-weight: bold;
}

nav img {
  height: 50px; /* Define a altura da logo */
  width: auto; /* Mantém a proporção da logo */
}


nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--newbase-yellow);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--newbase-yellow);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  transform: rotateY(0);
  visibility: visible;

  background: var(--newbase-Blue);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--body-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease;
}
/* Transformação ao clicar no ícone de hambúrguer */
.icon-menu:active {
  transform: scale(1.2) rotate(45deg);
  opacity: 0.7;
  color: var(--newbase-yellow);
  transition: transform 0.2s ease-in-out, color 0.2s ease;
}

.toggle:hover {
  color: var(--newbase-yellow);
}

nav .icon-close {
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  cursor: pointer;
  transform: rotate(15deg) scale(1.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
  transform: rotate(-360deg) scale(1.2); /* Efeito de rotação no 'X' */
  color: var(--newbase-yellow); /* Cor alterada ao exibir */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--newbase-pink);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/*====  ABOUT ============================ */
#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--newbase-yellow);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*====  SERVICES ============================ */
.cards.grid {
  gap: 1.5rem;
}
.cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  position: relative;
  padding: 1.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: var(--body-color);
  text-align: center;
  color: var(--text-color); /* Cor padrão do texto */
  transition: background-color 0.3s ease, color 0.3s ease;
}

#card p span {
  color: var(--text-color-light);
}
/* Estilo do card ativo */
.card.active {
  background-color: var(--newbase-pink-second);
  color: var(--text-color-light);
}

/* Ocultar texto adicional por padrão */
.card .more-info {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Exibir texto adicional no card ativo */
.card.active .more-info {
  display: block;
  opacity: 1;
}

p:not(.more-info) {
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;
}

.card .button {
  margin-top: 1rem;
}
.card img {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
  position: relative;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
/*====  LOCATION SECTION ============================ */
#location {
  background-color: var(--body-color);
  padding: 4rem 0;
}

#location .container {
  max-width: 1200px;
  margin: 0 auto;
}

#location header h2.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#location header p {
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

#location .map iframe {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#location .address {
  margin-top: 2rem;
  text-align: center;
}

#location .address p {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

#location .address p strong {
  color: var(--newbase-blue);
  font-weight: bold;
}

/*====  TEAM SECTION ============================ */
.team-card{
  font-size: 1.6rem;
}

.team-card p {
  margin-bottom: 0.5rem;
}
.team-card .social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.team-card .social-links a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--newbase-Blue-second);
  border-radius: 50%;
  color: var(--text-color-light);
  transition: all 0.3s;
}

.team-card .social-links a:hover {
  color: var(--newbase-pink);
}

/*====  TEAM SECTION ============================ */
#team {
  background-color: var(--body-color);
}

.team-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.team-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.team-card img.profile-photo {
  width: clamp(100px, 20vw, 150px); /* Responsivo com largura mínima de 100px e máxima de 150px */
  height: clamp(100px, 20vw, 150px); /* Mantém a imagem perfeitamente quadrada */
  border-radius: 50%; /* Torna a imagem circular */
  outline: 3px solid var(--newbase-Blue); /* Contorno externo adicional */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra suave */
  object-fit: cover; /* Garante que a imagem fique bem ajustada ao círculo */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.team-card img.profile-photo:hover {
  transform: scale(1.2) translateY(-8px); /* Aumenta ligeiramente a imagem no hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); /* Sombra mais intensa no hover */
  outline-color: var(--newbase-yellow); /* Muda a cor do contorno principal */
}

.team-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-card{
  font-size: 1.6rem;
}

.team-card p {
  margin-bottom: 0.5rem;
}
.team-card .social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.team-card .social-links a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--newbase-Blue-second);
  border-radius: 50%;
  color: var(--text-color-light);
  transition: all 0.3s;
}

.team-card .social-links a:hover {
  color: var(--body-color);
}
.team-card .button {
  margin-top: 1rem;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 10% auto;
  text-align: center;
  position: relative;
}

.modal-photo {
  width: clamp(100px, 20vw, 150px); /* Responsivo com largura mínima de 100px e máxima de 150px */
  height: clamp(100px, 20vw, 150px); /* Mantém a imagem perfeitamente quadrada */
  border-radius: 50%; /* Torna a imagem circular */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra suave */
  object-fit: cover; /* Garante que a imagem fique bem ajustada ao círculo */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-modal {
  margin-top: 1rem;
}


/*====  CONTACT ============================ */
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--newbase-Blue);
}

/*====  FOOTER ============================ */
footer.footer-modern {
  background: var(--newbase-Blue);
  color: var(--text-color-light);
  padding: 2rem 1rem;
}

footer.footer-modern .container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

footer.footer-modern .footer-brand {
  text-align: center;
}

footer.footer-modern .footer-brand img {
  max-width: 120px;
  margin: 0 auto 1rem;
}

footer.footer-modern .footer-column {
  text-align: center;
}

footer.footer-modern .footer-column h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

footer.footer-modern .footer-column ul {
  list-style: none;
  padding: 0;
}

footer.footer-modern .footer-column ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.footer-modern .footer-column ul li i {
  margin-right: 0.5rem;
}

footer.footer-modern .social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer.footer-modern .social-links a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--newbase-Blue-second);
  border-radius: 50%;
  color: var(--text-color-light);
  transition: all 0.3s;
}

footer.footer-modern .social-links a:hover {
  background: var(--newbase-pink);
  transform: translateY(-5px);
}

footer {
  background: var(--newbase-Blue);
  color: var(--text-color-light);
  padding: 3rem 1rem;
  text-align: center;
}


footer img {
  max-width: 100%; /* Limita a largura da imagem ao tamanho do container */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Evita espaçamentos adicionais ao redor da imagem */
  margin: 0 auto; /* Centraliza a imagem */
}
footer .brand img {
  max-width: 120px; /* Define o tamanho máximo da imagem */
  width: 100%; /* Torna a largura responsiva */
  height: auto; /* Mantém a proporção da imagem */
  margin: 0 auto 1rem; /* Centraliza a imagem */
}

.footer-column h3 {
  font: 700 1.5rem var(--title-font);
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-brand {
  text-align: center;
}

footer .brand {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem; /* Adiciona espaçamento interno */
}

footer .brand p {
  color: var(--text-color-light);
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.footer-column ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.footer-column ul li i {
  margin-right: 0.5rem;
  color: var(--newbase-Blue-second);
}

.footer-column ul li a {
  color: var(--text-color-light);
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: var(--newbase-yellow);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--newbase-Blue-second);
  color: var(--text-color-light);
  transition: background 0.3s, transform 0.3s;
}

.social-links a:hover {
  transform: translateY(-8px);
  background: var(--newbase-pink);
}

footer .social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  grid-auto-flow: column;
  width: fit-content;
}


footer .social a {
  color: var(--text-color-light);
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--newbase-Blue-second);
  transition: background-color 0.3s, transform 0.3s;
}

footer .social a:hover {
  transform: translateY(-8px);
  color: var(--newbase-yellow);
}

/* Back to top */
.back-to-top {
  background: var(--newbase-Blue);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top:hover{
  background: var(--newbase-yellow);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }


/* large devices: 1023 > */
/* Para dispositivos com largura mínima de 1023px */
@media (min-width: 1023px) {
  :root {
    --title-font-size: 2.5rem;
    --subtitle-font-size: 1.25rem;
  }
}
/* large devices: 992 > */
/* Para dispositivos com largura mínima de 992px */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
/* medium devices: 767 > */
/* Para dispositivos com largura mínima de 767px */
@media (min-width: 767px) {
  :root {
    --title-font-size: 1.75rem;
    --subtitle-font-size: 1.125rem;
  }
  
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  footer .container {
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    gap: 1.5rem;
  }

  .footer-column {
    text-align: left;
  }

  .social-links {
    justify-content: flex-start;
  }

  footer .brand img {
    max-width: 100px; /* Reduz o tamanho da imagem para telas menores */
  }

  footer .brand {
    margin-bottom: 1rem;
  }

  footer .brand p {
    margin-bottom: 0.5rem;
  }

  footer .social {
    justify-content: center;
    flex-wrap: wrap;
    grid-auto-flow: row;
    gap: 1rem;
  }

  footer .social a {
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
  }
}